@model VathmologioMVC.Models.Secretary

<div class="card" style="width: 18rem; margin: 0.7rem;">
    <img src="https://i.pravatar.cc/286?u=@Model.Phonenumber" class="card-img-top" alt="Card of secretary @(Model.Name + " " + Model.Surname)">
    <div class="card-body">
        <h5 class="card-title">@(Model.Name + " " + Model.Surname)</h5>
        <p class="card-text">@Model.Department</p>
        <p class="card-text">Phone: @Model.Phonenumber</p>
        <a asp-action="Details" asp-route-id="@Model.Phonenumber" class="btn btn-info">Show Details</a>
        <a asp-action="Edit" asp-route-id="@Model.Phonenumber" class="btn btn-warning">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Phonenumber" class="btn btn-danger">Delete</a>
    </div>
</div>